/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~angular-notifier/styles.css";

.fill{
    width: 100%; 
    margin: 5px 0;
}
a i {
    cursor: pointer;
    padding-right: 15px;
}