<form>
    <p *ngIf="createMode" mat-dialog-title>Add Store</p>
    <p *ngIf="!createMode" mat-dialog-title>Edit Store</p>
    <mat-spinner *ngIf="showSpinner" diameter="30"></mat-spinner>
    <div *ngIf="(store && !showSpinner)">
        <mat-dialog-content>
          <mat-form-field class="fill">
            <input matInput name="name" placeholder="Name" [(ngModel)] = "store.name" #name="ngModel"
              required/>
          </mat-form-field>
          <mat-form-field class="fill">
            <textarea matInput name="address" placeholder="Address" [(ngModel)]="store.address" #address="ngModel" required>
            </textarea>
          </mat-form-field>
          <mat-form-field class="fill">
            <textarea matInput name="workHours" placeholder="Working Time" [(ngModel)]="store.workHours" #workHours="ngModel" required>
            </textarea>
          </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions  class="btn-group" role="group">
          <button mat-button [disabled]="name.invalid || address.invalid || workHours.invalid"
           (click)="saveChanges()">Save</button>
          <button mat-button (click)="onNoClick()">Cancel</button>
        </mat-dialog-actions>
    </div>
</form>
