<form>
    <p *ngIf="createMode" mat-dialog-title>Add Product</p>
    <p *ngIf="!createMode" mat-dialog-title>Edit Product</p>
    <mat-spinner *ngIf="showSpinner" diameter="30"></mat-spinner>
    <div *ngIf="(product && !showSpinner)">
        <mat-dialog-content>
          <mat-form-field class="fill">
            <input matInput name="name" placeholder="Name" [(ngModel)] = "product.name" #name="ngModel"
              required/>
          </mat-form-field>
          <mat-form-field class="fill">
            <textarea matInput name="description" placeholder="Description" [(ngModel)]="product.comment" #description="ngModel" required>
            </textarea>
          </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions  class="btn-group" role="group">
          <button mat-button [disabled]="name.invalid || description.invalid"
           (click)="saveChanges()">Save</button>
          <button mat-button (click)="onNoClick()">Cancel</button>
        </mat-dialog-actions>
    </div>
</form>
