<h1>Stores</h1>

<p *ngIf="!stores"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="stores">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Working Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let store of stores">
      <td>{{ store.name }}</td>
      <td>{{ store.address }}</td>
      <td>{{ store.workHours }}</td>
      <td><a [routerLink]="['products', store.id]"><i class="material-icons">description</i></a> <a (click)="edit(store.id)"><i class="material-icons">edit</i></a> <a (click)="delete(store.id)"> <i class="material-icons">delete</i></a></td>
    </tr>
    <p *ngIf="!stores.length" style ="text-align: center; font-style: italic">No data</p>
  </tbody>
</table>

<button mat-raised-button (click)="create()"> New Store </button>