<form>
    <mat-dialog-content>
        {{message}}
    </mat-dialog-content>
    <mat-dialog-actions  class="btn-group" role="group">
        <button class="btn btn-default" (click)="onOk()">Ok</button>
        <button class="btn btn-default" (click)="onCancel()">Cancel</button>
    </mat-dialog-actions>
</form>