<h1>Products</h1>
<div *ngIf="store">
  <h4>Store: {{store.name}}</h4>
  <h4>Address: {{store.address}}</h4>
  <h4>Working Time: {{store.workHours}}</h4>
</div>
<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="products">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td><a (click)="edit(product.id)"><i class="material-icons">edit</i></a> <a (click)="delete(product.id)"> <i class="material-icons">delete</i></a></td>
    </tr>
    <p *ngIf="!products.length" style ="text-align: center; font-style: italic">No data</p>
  </tbody>
</table>

<button mat-raised-button (click)="create()"> New Product </button>